body{
    background-color: rgb(43, 45, 66);
}

nav{
    /* background-color: rgb(255, 248, 255) */
    background-color: rgb(216, 0, 50);
}

p{
    font-size: 12px;
    color: rgb(237, 242, 244);
}

body {
    position: relative;
}

li.navbar-item {
    color: green;
    border-right : 1px solid rgb(141, 153, 174);
    padding: 10px;
}


img{
    border-radius:150px
}

h2{
    color: rgb(237, 242, 244);
}